@charset "UTF-8";

/*FONTS*/


/*GLOBAL STYLES*/

body, h1, h2, h3, h4, h5, h6
{

	font-family: 'Montserrat', Arial, sans-serif;
	color: black;
}

p, a
{
	font-size: 1.2em;
}
a
{
	color: black;
	text-decoration: underline;
}

a:visited
{
	color: black;
}

/*LOGIN*/

#adminH1
{
	margin-top: 50px;
	color: black;
	text-align: center;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 3em;
	margin-bottom: 40px;
}

#form
{
	text-align: center;
	background-color: rgba(210,210,210,0.2);
	border-radius: 2px;
	padding: 15px 0px 25px 0px;
	min-width: 100%;
}

label
{
	color: black;
	font-size: 1.4em;
}

#username[type="text"]
{
	margin: 0 auto;
	width: 300px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 2px;
	font-family: 'Montserrat', Arial, sans-serif;
}



#password[type="password"]
{
	margin: 0 auto;
	width: 300px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 2px;
	font-family: 'Montserrat', Arial, sans-serif;
}


#submit
{
	background-color: white;
	border-radius: 2px;
	border-style: none;
	color: black;
	padding: 5px;
	width: 125px;
	transition: all .3s ease-in-out;
	font-family: 'Montserrat', Arial, sans-serif;
}

#submit:hover
{
	background-color: #EBEBEB;
	cursor: pointer;
}

/*INDEX*/

/*TOP NAV*/

header
{
	background-color: #cf5662;
	min-width: 100%;
	margin-bottom: 10px;
    padding-right: 0rem;
    height: 60px;
}


#icon
{
	width: 40px;
	padding-top: 10px;
}

#mainNav ul li
{
	display: inline;
	list-style-type: none;
	text-decoration: none;
	margin-right: 10px;
	color: white;
}

#mainNav ul li a
{
	display: inline;
	list-style-type: none;
	text-decoration: none;
}


#adminSection
{
	min-width: 100%;
}

#welcomePanel
{
	
}

.userName
{
}

.logOut
{
	display: inline;
}

#lastLogin
{

}

.editAccount
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.createNU
{
	display: block;
	margin-bottom: 20px;
}


#welcomePanel h2
{
	color: white;
	text-align: left;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 3em;
}

#sidePanel
{
	background-color: rgba(210,210,210,0.2);
}

.button
{
	display: block;
	width: 100%;
	text-align: left;
	font-size: 1.2em;
}

/*Edit and Create User*/

.createUserForm
{
	margin-top: 20px;
}

.editUserForm
{
	margin-top: 20px;
}